/* Navbar Responsive */
.navbar {
  padding: 15px 0;
}
.navbar-logo {
  width: 300px;
}
.navbar-links a,
.navbar-social a {
  margin: 0 9px;
}
.navbar-links,
.navbar-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right,
.nav-right ul,
.nav-right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .hamburger {
  display: none;
}
.nav-right {
  z-index: 1001;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Latest page grid yapısı.*/
.latest-grid {
  column-count: 3;
  column-gap: 50px;
  margin: 0 auto 50px auto;
}

/* Books grid */
.books-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.books-pages .books-grid div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 100%;
  gap: 30px;
}

/* Footer */
.copy-rigth {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
