/* home pages */
.home-pages {
  background-image: url(../images/backround-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

/* Tüm sayfalarda ortak */
.pages {
  width: 100%;
  min-height: calc(100vh - 117.5px);
}
.hero-links {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 30px 0;
}
.hero-links a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  padding: 5px 20px;
}

/* Contact pages */
.contact-pages {
  max-width: 800px;
  margin: auto;
  padding-top: 25px;
}
.contact-pages ul {
  margin: 25px 0 50px 0;
}
.contact-pages li {
  margin-bottom: 25px;
}

/* Faqs pages */
.faqs-pages {
  max-width: 800px;
  margin: auto;
  padding-top: 25px;
}
.faqs-pages li {
  margin-bottom: 25px;
}
.faqs-pages p {
  display: inline;
}

/* About pages */
.about-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.about-pages img {
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}
.about-pages img:hover {
  transform: scale(1.05);
}
.about-pages .left {
  width: 50%;
  margin: 0 20px 10px 0;
  float: left;
  overflow: hidden;
}
.about-pages .right {
  width: 50%;
  margin: 0 0 10px 20px;
  float: right;
  overflow: hidden;
}
li::after {
  content: "";
  display: block;
  clear: both;
}

/* Latest page */
.latest-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.latest-pages .latest-card {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  padding: 15px 15px 30px 15px;
  gap: 10px;
  break-inside: avoid;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.latest-pages .latest-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(220, 24, 119, 0.2) 0px 11px 35px 2px;
}
.latest-pages .latest-card-img {
  display: block;
  object-fit: cover;
  overflow: hidden;
}

/* Books page */
.books-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.books-pages .container-pages div {
  padding: 30px 0 20px 0;
}

/* Speaking page */
.speaking-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.speaking-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 25px 0;
}
.speaking-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quetes p {
  text-align: center;
}
.quetes {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.quetes p:first-child {
  margin: 50px 0;
}
.speaking-pages img {
  width: 100%;
  margin: 50px 0;
}

/* footer  */
.copy-rigth {
  background-color: black;
}
