.container {
  width: 90%;
  margin: auto;
  padding-top: 8px;
}
.pages {
  width: 100%;
  min-height: calc(100vh - 93.41px);
}
.container-pages {
  min-height: 60vh;
  width: 80%;
  margin: 0 auto;
}

.active {
  color: #dc1877;
}

li {
  list-style: none;
}

a,
i {
  color: rgb(69, 69, 69);
}

a:hover,
i:hover {
  transition: all 0.3s ease;
  color: #dc1877;
}

a {
  font-weight: bolder;
  font-size: 18px;
}

.btn {
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.3s ease;
  color: #dc1877;
}
