/* Container */
.container {
  width: 90%;
  margin: auto;
  padding-top: 8px;
}

/* Main ana kapsayıcı klası. */
.pages {
  width: 100%;
  min-height: calc(100vh - 89.5px);
  padding-bottom: 50px;
}

/* Hero linkleri itme amaçlı Main içeriklerinin yer aldığı kapsayıcı class. */
.container-pages {
  min-height: 70vh;
  width: 80%;
  margin: 0 auto;
}

/* Diğerleri */
.active {
  color: #dc1877;
}
.hr {
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}

/* Sayfada kullanılan Button, A, İ ve P teglerinin temel sitilleri. */
li {
  list-style: none;
}
p {
  line-height: 1.8;
  font-size: 18px;
}
a {
  font-size: 18px;
  text-decoration: none;
}
.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}
.btn,
a,
i,
p {
  color: rgb(85, 85, 85);
  cursor: pointer;
}
.btn:hover,
a:hover,
i:hover {
  transition: all 0.3s ease;
  color: #dc1877;
}
