/* Navbar Responsive */
.navbar-logo {
  width: 300px;
}
.navbar-links a {
  font-weight: 700;
  font-size: 20px;
  margin-left: 26px;
}
.navbar-social a {
  margin-left: 12px;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right,
.nav-right ul,
.nav-right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .hamburger {
  display: none;
}
.nav-right {
  z-index: 1001;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Latest page grid yapısı.*/
.latest-grid {
  column-count: 3;
  column-gap: 50px;
  margin: 0 auto 50px auto;
}

/* Books grid */
.books-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
