/* Sayfanın genel yapısı:

navbar
footer
container
grid / flex sistemleri */

/* layout → iskelet */

.container {
  width: 90%;
  margin: auto;
  padding-top: 8px;
}

/* Navbar */

.navbar-logo {
  width: 300px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right,
.nav-right ul,
.nav-right ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .hamburger {
  display: none;
  margin-right: 18px;
}

.nav-right {
  z-index: 1001;
}
