/* home pages */
.home-pages {
  background-image: url(../images/backround-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* Tüm sayfalarda ortak */
.hero-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.hero-links a {
  text-decoration: none;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 800;
}

/* Contact pages */
.contact-pages {
  max-width: 800px;
  margin: auto;
  color: rgb(69, 69, 69);
}
.contact-pages li {
  margin: 10px 0;
}
.contact-pages p {
  margin: 50px 0;
}
.contact-pages strong {
  font-weight: bold;
}

/* Faqs pages */
.faqs-pages {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}
.faqs-pages p {
  display: inline;
}
.faqs-pages li {
  margin-bottom: 20px;
}
.faqs-pages h3 {
  margin: 10px 0;
}
.faqs-pages strong {
  font-weight: bold;
}

/* About pages */
.about-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.about-pages img {
  width: 100%;
  display: block;
  transition: all 0.3s ease;
}
.about-pages img:hover {
  transform: scale(1.05);
}
.about-pages .left {
  width: 50%;
  margin: 0 20px 10px 0;
  float: left;
  overflow: hidden;
}
.about-pages .right {
  width: 50%;
  margin: 0 0 10px 20px;
  float: right;
  overflow: hidden;
}
li::after {
  content: "";
  display: block;
  clear: both;
}
.about-pages span {
  font-size: 14px;
}
.about-pages p {
  display: inline;
}
.about-pages li {
  margin: 25px 0;
}

/* Latest page */
.latest-pages {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}
.latest-pages .latest-card {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-width: 220px;
  padding: 15px 15px 30px 15px;
  gap: 10px;
  break-inside: avoid;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.latest-pages .latest-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(220, 24, 119, 0.2) 0px 11px 35px 2px;
}
.latest-pages .latest-card-img {
  display: block;
  object-fit: cover;
  overflow: hidden;
}
.latest-pages .latest-card-title {
  font-size: 22px;
  font-weight: 500;
}
.latest-pages .latest-card-text {
  line-height: 1.5;
  font-size: 16px;
  cursor: text;
}
.latest-pages .latest-card-text a {
  line-height: 1.5;
  font-size: 16px;
}
.latest-pages .latest-card-reed-more {
  font-size: 14px;
}
.latest-pages .latest-card-date {
  opacity: 0.4;
  font-size: 14px;
}

/* Books page */
.books-pages {
  max-width: 1200px;
  margin: auto;
}
.books-pages .books-grid div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.books-pages .btn-purchase {
  background-color: #dc1877;
  color: rgb(244, 244, 244);
  padding: 20px 30px;
  font-size: 24px;
  transition: all 0.3s ease-in;
}
.books-pages .btn-purchase:hover {
  background-color: #ff469f;
}
.books-pages .container-pages div {
  padding: 30px 0 20px 0;
}
