/* home pages */
.home-pages {
  background-image: url(../images/backround-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* Tüm sayfalarda ortak */
.hero-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.hero-links a {
  text-decoration: none;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 800;
}

/* Contact pages */
.contact-pages {
  max-width: 800px;
  margin: auto;
  color: rgb(69, 69, 69);
}
.contact-pages li {
  margin: 10px 0;
}
.contact-pages p {
  margin: 50px 0;
}
.contact-pages strong {
  font-weight: bold;
}

/* Faqs pages */
.faqs-pages {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}
.faqs-pages .hr {
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.faqs-pages p {
  display: inline;
}
.faqs-pages li {
  margin-bottom: 20px;
}
.faqs-pages h3 {
  margin: 10px 0;
}
.faqs-pages strong {
  font-weight: bold;
}
